.vs
/Shoping.Data/bin/
/Shoping.Data/obj/
/Shoping.Model/bin/
/Shoping.Model/obj/
/Shoping.Service/bin/
/Shoping.Service/obj/
/Shoping.Utility/bin/
/Shoping.Utility/obj/
/ShopingApp/bin/
/ShopingApp/obj/
/ShopingApp/wwwroot/Upload/
