.vs
/Shoping.Data/bin/
/Shoping.Data/obj/
/Shoping.Model/bin/
/Shoping.Model/obj/
/Shoping.Service/bin/
/Shoping.Service/obj/
/Shoping.Ultility/bin/
/Shoping.Ultility/obj/
/ShopingApp/bin/
/ShopingApp/obj/